---
//import Navigation from '../components/Navigation.astro';
const name = 'Football';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{name}</title>
		<style>
			body{
				background: black;
				color: white;
				a{
					font-size: larger;
				}
			}
		</style>
	</head>
	<body>
		<h1>{name} Blog</h1>
		<img src="https://www.si.com/.image/t_share/MTk5Nzk4Nzk1NjI4NzE3Njk2/nflfootball.jpg" alt="football" width="500">
		<br>
		<h2>Posts</h2>
		
		<a href="/posts/rules/">Rules</a> <br>
		<a href="/posts/fantasyFb/">Fantasy Football</a> <br>
		<a href="/posts/games/">Videogames</a>

	</body>
</html>